@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
    font-family: 'Raleway', Verdana, Arial, sans-serif;
    line-height: 1.5;
    font-size: 16;

    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;  
    text-align: center;  
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "intro geo"
        "gov gov";
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

footer {
    grid-area: footer;
}

tr:nth-child(odd) {
    background-color: #d9d9d9;
}

td {
    text-align: center;
}

section {
    background-color: #ddd;
}

article {
    background-color: #eee;
}

#Geo {
    grid-area: geo;
}

#GeoArts {
    display: grid;
    grid-template-areas: 
        "loc coord"
        "loc metr";
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-gap: 10px;
}

#SpainMap {
    object-fit: none;
    object-position: 50% 50%;
}

#Loc {
    grid-area: loc;
}

#GeoLoc {
    grid-area: coord;
}

#GeoMet {
    grid-area: metr;
}

#Gov {
    grid-area: gov;
}