@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

body {
    font-family: 'Raleway', 'Roboto', Verdana, Arial, sans-serif;
    line-height: 1.2;
    font-size: 15px;

    /* background-color: #f6c453; */
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;  
    text-align: center;  
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "intro intro intro intro"
        "type type grade grade"
        "type type grade grade"
        "type type grade grade"
        "type type grade grade";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

footer {
    grid-area: footer;
    font-size: 12px;
}

footer p {
    display: inline;
}

/* link selectors */
a {
    color: default;
}

a:link {
    color: #D92C30;
}

a:visited {
    color: #D775A2;
}

a:hover {
    color: #FBC831;
}

a:active {
    color: #396782;
}

table {
    margin: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.log {
    font-size: 20px;
}

#intro {
    grid-area: intro;
}

#type {
    grid-area: type;
}

#grade {
    grid-area: grade;
}

#colors {
    grid-area: type;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#outdoor {
    grid-area: type;
    display: block;
    margin: auto;
}

#belay {
    grid-area: type;
    display: block;
    margin: auto;
}