@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

/* main element selectors */
body {
    font-family: 'Raleway', 'Roboto', Verdana, Arial, sans-serif;
    line-height: 1.2;
    font-size: 15px;

    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;  
    text-align: center;  
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "intro gov gov"
        "geo gov gov";
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

footer {
    grid-area: footer;
    font-size: 12px;
}

footer p {
    display: inline;
}

/* link selectors */
a:link {
    color: #D92C30;
}

a:visited {
    color: #D775A2;
}

a:hover {
    color: #FBC831;
}

a:active {
    color: #396782;
}


/* attribute selectors */
section {
    background-color: #ddd;
    padding: 10px;
}

section h2 {
    margin-top: 0;
}

article {
    background-color: #eee;
    padding: 10px;
}

article h3 {
    margin-top: 0;
}

/* id selectors */
#Geo {
    grid-area: geo;
}

#GeoArts {
    display: grid;
    grid-template-areas: 
        "loc"
        "coord";
    grid-template-columns: 1fr;
    padding: 10px;
    grid-gap: 10px;
}

#Loc {
    grid-area: loc;
}

#SpainMap {
    float: left;
    margin: 8px;
}

#GeoLoc {
    grid-area: coord;
}

#Gov {
    grid-area: gov;
}

#GovArts {
    display: grid;
    grid-template-areas: 
        "cont flag"
        "cap indp";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 10px;
    grid-gap: 10px;
}

#SpainFlag {
    object-position: center;
}

#Cntry {
    grid-area: cont;
}

#Flag {
    grid-area: flag;
}

#Cptl {
    grid-area: cap;
}

#Indp {
    grid-area: indp;
}